@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;500;600;700&display=swap');


.ExamThardcards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: pre-wrap;
}

.ExamThardcard_item {
    padding: 15px 25px;
    width: 60%;
    border-radius: 20px;

}

.ExamThardcard_inner {
    background: white;
    border-radius: 5px;
    padding: 35px 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.ExamThardrole_name {
    text-align: center;
    color: #000000;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ExamThardQuestion {
    text-align: start;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: 0px;
    color: #000000;
    font-size: 20px;

}

.ExamThardtext {
    text-align: start;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: 0px;
    color: #000000;
    font-size: 20px;

}

.ExamThardChoicepanel {
    padding: 5px;
   
    
}

.ExamThardButton1 {
    padding: 0px;
    border: none;
    display: flex;
    padding: 1px;
    margin-bottom: 20px;
}
.ExamThardButton1:hover {
    background-color:rgb(246, 248, 248);
    border-radius: 8px;
    opacity: 0.2;
  
}
.ExamThardButton1true{
    background-color:rgb(113, 212, 113);
    border-radius: 8px;
    padding: 0px;
    border-style: none;
    display: flex;
    padding: 1px;
    margin-bottom: 20px;
}
.ExamThardButton1false {
    background-color:rgb(206, 106, 106);
    border-radius: 8px;
    padding: 0px;
    border-style: none;
    display: flex;
    padding: 1px;
    margin-bottom: 20px;
}
.ExamThardButton1selected {
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(28, 29, 29);
    border-width:2px;
    padding: 1px;
    display: flex;
    margin-bottom: 20px;
}

.ExamThardGobutton1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.ExamThardGobutton1:hover {
    background-color: #4CAF50;
    color: white;
}

.ExamThardtextarea{
    padding: 2px;
    width: 100%;
    display: flex;
   
}
.ExamThardnumpanel{
    padding: 5px;
    width: 2.9rem;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    color: gray;
}
.ExamThardtextpanel{
    padding: 5px;
    padding-left: 2rem;
    color: #000000;
}

@media screen and (max-width: 1400px) {
    .ExamThardcards_wrap{
        padding: 15px;
    }
    .ExamThardcard_item {
        padding: 5px;
        width: 85%;       
    
    }
}

@media screen and (max-width: 1160px) {
    .ExamThardcards_wrap {
        padding: 5px;
    }

    .ExamThardcard_item {
        width: 100%;
    }
}