.profile-container {
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    
}

.profile-card {
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
}

.profile-card-header {
    background-color: #333;
    color: white;
    padding-left: 16px;
    border-radius: 3px;
}

.profile-card-content {
    padding: 10px;
}

.EditUsernameBtn :hover {
    cursor: pointer;
}

@media screen and (max-width: 1160px) {
    .profile-container {
        padding: 5px;
        margin-top: 5px;
    }

    .profile-card {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
}

.SeeexamHard {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    font-size: 15px;

}

.SeeexamHard:hover {
    border-radius: 5px;
    box-shadow: rgba(228, 36, 22, 0.35) 0px 5px 5px;
    font-size: 15px;
    cursor: pointer;
}

.SeeexamEasy {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    font-size: 15px;

}

.SeeexamEasy:hover {
    border-radius: 5px;
    box-shadow: rgba(107, 223, 30, 0.35) 0px 5px 5px;
    font-size: 15px;
    cursor: pointer;
}


