.store-card {
    z-index: 1;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.store-container {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

.store-header {
    background-color: #333;
    color: white;
    padding-left: 16px;
    border-radius: 3px;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
}

.store-card-header {
    background-color: #333;
    color: white;
    padding-left: 16px;
    border-radius: 3px;
}

.cat-search-container {
    margin-left: 25px;
    margin-top: 10px;
    display: flex;
}

@media screen and (max-width: 1160px) {
    .store-container {
        margin-right: 4px;
        margin-left: 4px;
    }
    .store-card {
        margin-right: 6px;
        margin-left: 6px;
    }
}