.admincontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.adminprofile {
  background-color: #cee;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

.examadd-card {
  border-radius: 5px;
  padding: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}