.sticky-top {
    color: black;
    position: fixed;
    margin-top: 78px;
    left: 0;
    z-index: 2;
    width: 100%; 
    background-color: gray;
    align-items: center;
    opacity: 90%;
    height: 70px;
}

.body {
    margin-top: 160px;
    margin-bottom: 40px;
}

