.Report_wrap {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.Report-column {
    background-color: white;
    height: 500px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
.Report-columnHead {
    background-color: white;
    height: 200px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
}

.Report-item {
    text-decoration: none;
    padding: 15px;
    position: relative;
    height: 400px;
    overflow: auto;
}

.Report-header {
    background-color: #333;
    color: white;
    padding-left: 16px;
    border-radius: 3px;
}
.Report-headerTable {
 
    letter-spacing: 1px;
}
.Report-table{
    font-weight: 500;
    letter-spacing: 1px;
}