
.container {
    margin: 0 auto;
}
.header {
    background: #333;
    height: 80px;
    animation-name: Nav;
    animation-duration: 2s;
    
}

@keyframes Nav {
    from{height: 10px;}
    from{background-color: #fff;}

  }
.header-con {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}
.logo-container a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    animation-name: font;
    animation-delay: 2.1s;
    animation-duration: 2s;
    color: #fff;
}
.logo-container a:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(28, 121, 184);
    transition: all 0.5s ease;
    
}
@keyframes font {
    from{ color:#333;}
    to{color: #fff;}
   }
.menu {
    display: flex;
    list-style-type: none;
    animation-name: font;
    animation-duration: 5s;
  
}
.menu li {
    padding-right: 5rem;
    padding-top: 10px;
}
.menu li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.menu li a:hover {
    text-decoration: none;
    color: rgb(28, 121, 184);
    transition: all 0.5s ease;
}
.mobile-menu {
    display: none;
}
@media screen and (max-width: 1281px) and (min-width: 992px){
    .header{
        margin: 0 auto;
    }
    .header-con {
        width: auto; 
    }
    .logo-container a {
        font-size: 1.5rem;

    }
    .menu li a {
        font-size: 15px;
        text-decoration: none;
        color: #fff;
    }

}

@media screen and (max-width: 991px) and (min-width: 481px){
    .header{
        margin: 0 auto;
    }
  
    .logo-container a {
        font-size: 1.0rem;

    }
    .menu li a {
        font-size: 10px;
        text-decoration: none;
        color: #fff;
    }

}

@media screen and (max-width: 767px) {
    .header{
        margin: 0 auto;
    }
    .header-con {
        width: auto; 
    }
    .logo-container a {
        font-size: 1.5rem;

    }
    .mobile-menu {
        display: block;
        color: #fff;
        font-size: 2rem;
        
    }
    .header {
        padding: 0 1em;
    }
    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 64px;
        right: 0%;
        opacity: 0;
       padding-bottom: 10px;
       
    }
    .menu.active {
        background: #111;
        right: 0%;
        opacity: 1;
        z-index: 1;
        padding-left: 0;
        align-content: center;
        transition: 0.5s ease;
        display: flex;
    }
    .menu li {
        padding-right: 0 ;
    }
    .menu li a {
        font-size: 15px;
        text-decoration: none;
        color: #fff;
    }
    .menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }
}