
.banner-bg {
    height: 550px;
    
    background-size:cover;
    overflow: hidden;
    background-position: center;
}
.banner-con {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 500px;
}
.banner-text {
    color: #fff;
    text-align: center;
    font-family: 'Mitr',sans-serif;
}
.banner-btn {
    background: #fff;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}
.banner-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .banner-text {
        padding: 0 2rem;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;500;600;700&display=swap');
