@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;1,100;1,200&display=swap');

.mainBackground {
   background: #23242a;
}

.content-container {
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    
}

.content-con {
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
}

.content-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.content-con-header {
    background-color: #333;
    color: white;
    padding-left: 16px;
    border-radius: 3px;
}

.content-card {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    padding: 15px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 3px;
    background-color: white;
    width: auto;
    min-width: 415px;
}

.content-Head{
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    color: primary;
}

.content-Text{
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 480px) {
    .content-con {
        flex-direction: column;
    }

    .content-con:nth-child(2) .content-r {
        order: 1;
    }
}