.header {
    display: flex;
    position: fixed;
    height: 82px;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding-left: 10%;
    padding: 0 3rem;
    animation-name: Nav;
    animation-duration: 2s;
    z-index: 1000;
    background: linear-gradient(180deg, #333 0%, rgb(0, 0, 0) 100%);
}

@keyframes Nav {

    from{font-size: 0px;}
    from{opacity: 0;}
    from{background-color:#fff;}

    from {
        opacity: 0;
    }

    from {
        background-color: #fff;
    }

}

.logo-container a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
    animation-name: font;
    animation-delay: 2.1s;
    animation-duration: 2s;
    color: #fff;
}

.logo-container a:hover {
    text-decoration: none;
    font-weight: bold;
    /*font-size: 3rem;*/
    color: white;
    /*transition: all 0.5s ease;*/

}

.search-container {
    display: flex;
}

@keyframes font {
    from {
        color: #333;
    }

    from {
        opacity: 0;
    }

    to {
        color: #fff;
    }
}

.header-con {
    list-style-type: none;
    display: flex;

}
.header-con ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.header-con li {
    list-style: none;
    position: relative;
}
.header-con li a  {
    display: inline-flex;
    text-decoration: none;
    color: white;
    padding: 1.6rem;
    font-size: 1.3rem;

}
.header-con li::after {
    content: '';
    height: 7px;
    width: 0%;
    background: blue;
    position: absolute;
    left: 0;
    bottom: 15px;
}
.header-con li:hover::after {
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
}


@media (min-width: 1160px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 1280px) {
    .mobile-menu {
        display: block;
        color: #fff;
        font-size: 2rem;
        background-color: transparent;
        outline: transparent;
        align-items: center;
        z-index: 100;
    }

    .header {
        padding: 0 1em;
    }

    .logo-container a {
        font-size: 1.5rem;
    }


    .header-con li a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1rem;

    }

    .menu {
        width: 100%;
        height: auto;
        display: none;
        position: absolute;
        flex-direction: column;
        top: 48px;
        right: 0%;
        opacity: 0;
        padding-bottom: 10px;
    }

    .menu.active {
        background: #333;
        right: 0%;
        opacity: 1;
        z-index: 1;
        padding-left: 0;
        align-content: center;
        transition: 0.5s ease;
        display: flex;
        margin-top: 34px;
    }

    .menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }

    .header-con ul {
        display: none;
    }
}
